<script setup>
import {RouterLink, RouterView} from 'vue-router'</script>

<template>
  <header>
    <nav>
      <RouterLink to="/">Home</RouterLink>
      <RouterLink to="/contact">About</RouterLink>
    </nav>
  </header>
  <RouterView/>
</template>

<style>

</style>
